@page
@model MiniProjectRazor.Pages.PersonInfoCollectionModel
@{
}
<form method="post">
    <input type="text" asp-for="name" placeholder="Write your name" />
    <input type="text" asp-for="phone" placeholder="Write your phone number" />
    <input type="text" asp-for="email" placeholder="Write your email address" />
    <button type="submit">Submit</button>
</form>